RewriteEngine On

 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

 RewriteRule sitemap$ sitemap.php
 RewriteRule sitemap/$ sitemap.php
